@use '../abstracts/' as *;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

html,
body {
  overflow-x: hidden;
}

body {
  background-color: $white;
  color: $gableGreen;
  font-size: $fs-400;
  box-sizing: border-box;
}
