$fontPrimary: 'Work Sans', sans-serif;

$white: #ffffff;
$gableGreen: #1b3534;
$pearlBush: #ebe6de;
$zanah: #d9ead2;
$fuscousGray: #545554;
$gray: #8a8889;

$fs-700: 4rem;
$fs-600: 3.6rem;
$fs-500: 1.8rem;
$fs-400: 1.6rem;
$fs-300: 1.4rem;
